/* project style */
.work-sans-normal{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.headtop{
  display:flex;
  align-items: center;
  justify-content:space-between;
  font-size: 32px;
  font-weight: bold;
}
.signin{
  color:#006A50;
  padding:12px 18px;
  border-radius: 5px;
  font-size:15px ;
  border-color: #006A50;
  background-color: white;
}
body{
  margin: 0px 120px 0px 120px;
  background-color: #f5f5f5;

}

.banner{
  display: flex;
  background-color: #C6E4D6;
  border-radius: 10px;
}
.banner-content{
  margin: 117px 60px ;
  
}
.banner-top-text{
  
  font-size: 24px;
  font-weight: bold;
  color: #0e0e0e7e;
  font-style: normal;

}
.banner-title{
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
}
.parimary-btn{
  background-color: #006A50;
  font-weight: 700;
  color:#ffffff;
  padding:18px 35px;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 20px;
  border: none;
}


.banner-hero-pic{
  margin: 80px 60px;
  
}

/* Pillars of bangladesh2.0 style section */

.section-one{
  display: flex;
}
.section-one-title{
  font-size:40px;
  font-weight: 700;
  margin-top: 80px;
  margin-bottom: 24px;
  color: rgb(14, 14, 14);
  
}

.pillar{
  padding:20px;
  border-radius: 15px;
  border:solid 1px rgba(0, 0, 0, 0.282);
  margin: 10px;
  background-color: white;
  font-weight: 200;
}
.section-title{
  font-size: 22px;
  margin-top: 5px;
}
.section-des{
  color: rgba(0, 0, 0, 0.632);
}

/* section-vision style */
.section-vision{
  display: flex;
  
}
.vision-title{
  font-size: 20px;
  color: rgba(14, 14, 14, 0.8);
  
}
.vision-des{
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
}
.btn1{
  border-radius: 8px;
  padding:11px 20px;
  order: 2px;
  border: none;
  background-color:rgb(84, 144, 245);
  color: white;
}
.btn1:hover{
  background-color: #ffffff;
  color:blue ;
}
.btn2{
  border-radius: 8px;
  padding:11px 20px;
  order: 2px;
  border: none;
  background-color:rgb(9, 161, 92);
  color: white;
}
.btn3{
  border-radius: 8px;
  padding:11px 20px;
  order: 2px;
  border: none;
  background-color:rgb(255, 194, 57);
  color: white;
}
.vision1{
  border-radius: 10px;
  padding: 25px;
  background-color: rgba(84, 144, 245, 0.2);
  margin: 10px;
}
.vision2{
  border-radius: 10px;
  padding: 25px;
  background-color: rgb(198, 228, 214);
  margin: 10px;
}
.vision3{
  border-radius: 10px;
  padding: 25px;
  background-color: rgb(247, 235, 207);
  margin: 10px;
}

/* Recent News style */

.news-fast-box{
  
  background-color:rgb(255, 255, 255);
  border-radius: 24px;
  gap: 32px;
  padding: 48px;
  margin-top: 24px;

}
.boxx{
  
  display: flex;
}
.box-img{
  width: 408px;
  height: 306px;
  border-radius: 24px;
}
.fast-box{
  margin-left: 32px;

}
.box-title{
  font-size: 32px;
  margin: 0px;
  color:rgba(14, 14, 14, 0.8)
}
.title-img{
margin-top: 10px;
margin-bottom: 10px;
}
.fast-box-des{
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
}
.box-btn{
  background-color: #006A50;
  font-weight: 700;
  color:#ffffff;
  padding:13px 26px;
  border-radius: 8px;
  font-size: 20px;
  margin-top: 25px;
  border: none;
}
time{
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
  text-align: left;
  margin-right: 12px;
}
.boxx2{
  display: flex;
}
.fast-boxx{
  margin-right: 32px;
}

/* Donate Today Styles */
.doate-top{
  text-align: center;
}
.donate-title{
  font-size:40px;
  font-weight: 700;
  margin-top: 80px;
  margin-bottom: 24px;
  text-align: center;
  color: rgb(14, 14, 14);
}
.donate-des{
  font-size:16px;
  font-weight: 400;
  color:rgba(14, 14, 14, 0.7) ;
  line-height: px;
  margin-left: 82px;
  margin-right: 82px;
}

.donate-boxs{
  display: flex;
  justify-content: center;
  padding: 0px;
  gap:24px;
}

.donate-box{
  font-size: 40px;
  padding: 40px;
  color:rgba(14, 14, 14, 0.8);
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background-color: white;
}

.donate-box-dip{
  font-size: 40px;
  padding:40px;
  border-radius: 16px;
  color:rgba(14, 14, 14, 0.8);
  border: 1px solid rgba(14, 14, 14, 0.15);
  background-color: rgb(198, 228, 214); 
}
.input-box{
  padding:20px 40px 20px 40px;
  display: flex;
  text-align: center;
  align-items: center;
  width:900px;
  border-radius: 5px;
  border:1px solid rgb(255, 255, 255);
  background-color: white;
  font-size: 20px;
  font-weight: 400;
}
.input-box-main{
 
}
.input{
  justify-self: center;
 text-align: center;
}
